

section {
    float: left;
    width: 50%;
    padding: 4%;
}

.contact-info h1 {
    text-align: center;
}

.contact-info p {
    padding: 0 5%;
    margin-top: 1.2em;
}

.contact-form p {
    font-weight: 400;
    letter-spacing: .1em;
}

.contact-form input {
    margin-top: .5em;
    border: .1em solid #222;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 .1em #44A34A;
  border: .1em solid #44A34A;
}

.contact-form p:nth-child(1n+2) {
    margin-top: 1em;
}

.large-message {
    height: 7em;
    width:95%;
    margin-bottom: 1em;
    margin-top: .5em;
    border: .1em solid #222;
    
}

.submit-btn {
    display: block;
    letter-spacing: .1em;
    font-family: "Roboto Slab", Arial, sans-serif;
    padding: .8em;
    width: 40%;
    margin: auto;
    -webkit-transition: background-color .4s;
    -moz-transition: background-color .4s;
    -o-transition: background-color .4s;
    -ms-transition: background-color .4s;
    transition: background-color .4s;
}

.submit-btn:hover {
    color: #dedede;
    background-color: #44A34A;
    cursor: pointer;
    font-weight: 700;
}

input[type=submit]:focus {
    color: #dedede;
    background-color: #44A34A;
    font-weight: 700;
}

/*
===================
MEDIA SMALL
===================
*/

@media screen and (max-width:640px) {
    
    .contact-info {
        width: 100%;
    }
    
    .contact-form {
        float: left;
        width: 100%;
        text-align: center;
    }
}