

.event-info h1 {
    padding: 3% 2% 2% 2%;
    margin-bottom: .5em;
    text-align: center;
}

.event-info h2 {
    margin: 0 1em;
    padding: 1%;
    background-color: #44A34A;
    color: #fff;
    opacity: .9;
    clear: both;
    width: auto;
}

.event-info h3 {
    padding: 1%;
    margin: 0 1em;
}

.event-info p {
    padding: 1% 3% 2% 2%;
    width: 70%;
    margin: 0 1em;
    text-align: justify;
    float: left;
}

.event-info img {
    width: 23%;
}

.item-2 img {
    margin-bottom: 1em;
}

/*
===================
MEDIA MEDIUM
===================
*/

@media screen and (max-width:1260px) {
    
    #store-hours {
    position: relative;
    left: 0; 
    bottom: 0; 
    background-color: #111;
    color: #EBF0EF;
    font-size: .8em;
    margin: 0 auto;
    width: 100%;
    float: left;
    }
    
    #store-hours a {
        color: #111;
    }
    
    #store-hours p {
        margin: 0 auto;
        text-align: center;
    }
}
    
/*
===================
MEDIA SMALL
===================
*/
    
@media screen and (max-width:560px) {
        
        .event-info h2 {
            margin: 0;
            padding: .5em 1em;
        }
        
        .event-info p {
            margin: 0;
            padding: 1.5em;
            width: 100%;
        }
        
        .event-info img {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }