

.sources h1 {
    text-align: center;
    padding: 3% 2% 2% 2%;
}

.sources p {
    text-align: center;
    padding: 1%;
}

.sources img {
    width: 20%;
    margin: 1.4em;
    height: 13em;
    float: left;
    opacity: .8;
}

.sources img:hover {
   border: 4px solid #44A34A;
   opacity: 1;
}

/*
===================
MEDIA MEDIUM
===================
*/

@media screen and (max-width:920px) {
    
.sources img {
    width: 40%;
    height: 18em;
    display: block;
    }
    
    .right-src {
        margin-left: 2em;
    } 
    
    .src-row-2 {
        float: left;
    }

/*
===================
MEDIA SMALL
===================
*/

@media screen and (max-width:565px) {
    
    .sources img {
    margin: .5em 0;
    width: 100%;
    height: auto;
    max-height: 20em;
    display: block;
    }
}
   